# Aufgabe 1.1

### a) Lesen Sie den Datensatz child.csv mit der folgenden Funktion ein:

In [1]:
from pandas import Series,DataFrame
import pandas as pd

data = pd.read_csv("files/sw01/child.csv", sep=",", index_col=0)

In [11]:
data.head

<bound method NDFrame.head of                  Average.disposable.income  Children.in.poor.homes  \
Australia                        20.813221               11.791352
Austria                          22.162446                6.166094
Belgium                          21.401153                9.974720
Canada                           25.606245               15.057585
Czech Republic                   10.849270               10.270000
Denmark                          23.175894                2.740000
Finland                          22.027651                4.170000
France                           18.960382                7.640000
Germany                          19.894067               16.289270
Greece                           17.183647               13.230296
Hungary                           9.463130                8.724203
Iceland                          22.286852                8.250000
Ireland                          22.364689               16.299416
Italy                            17.180761               15.500000
Japan                            22.479705               13.688033
Korea                            21.651918               10.746834
Luxembourg                       34.241822               12.390000
Mexico                            5.335074               22.164514
Netherlands                      25.041012               11.526755
New Zealand                      17.197108               15.000000
Norway                           28.574371                4.600000
Poland                            7.939399               21.500000
Portugal                          3.839462               16.550398
Slovak Republic                   7.797596               10.930000
Spain                            16.430249               17.300000
Sweden                           19.916998                3.969106
Switzerland                      24.651815                9.433293
Turkey                            5.071860               24.590000
United Kingdom                   22.697062               10.080000
United States                    29.196531               20.593932

                 Educational.Deprivation  Overcrowding  \
Australia                            2.2     19.700000
Austria                              0.6     34.014601
Belgium                              1.0     12.614505
Canada                               2.1           NaN
Czech Republic                       1.2     58.899347
Denmark                              0.7     17.552965
Finland                              1.0     15.228876
France                               1.2     20.284619
Germany                              0.5     19.967763
Greece                               6.1     54.922056
Hungary                              2.1     73.306021
Iceland                              0.4     21.652526
Ireland                              2.9     16.429028
Italy                                1.2     47.851602
Japan                                5.6     22.540000
Korea                                1.8           NaN
Luxembourg                           1.1     16.893185
Mexico                              13.7     69.600000
Netherlands                          0.6     10.326503
New Zealand                          2.2     31.000000
Norway                               1.3     15.113671
Poland                               2.1     73.957667
Portugal                             1.4     31.952303
Slovak Republic                      3.8     68.356284
Spain                                0.9     10.831831
Sweden                               1.6     20.011460
Switzerland                          0.7           NaN
Turkey                              13.6           NaN
United Kingdom                       1.8     21.497427
United States                        4.8     26.200000

                 Poor.environmental.conditions  Average.mean.literacy.score  \
Australia                            10.500000                       520.00
Austria                              20.154186                       502.00
Belgium                              29.754526                       510.33
Canada                                     NaN                       529.33
Czech Republic                       29.748594                       502.00
Denmark                              20.151467                       501.00
Finland                              22.802362                       552.67
France                               25.830298                       493.00
Germany                              37.374708                       505.00
Greece                               25.070654                       464.00
Hungary                              22.213785                       492.33
Iceland                              15.534688                       493.67
Ireland                              19.300100                       508.67
Italy                                32.577363                       468.67
Japan                                32.380000                       517.33
Korea                                      NaN                       541.67
Luxembourg                           25.574231                       485.00
Mexico                                     NaN                       408.67
Netherlands                          38.712874                       521.00
New Zealand                                NaN                       524.33
Norway                               11.992789                       487.00
Poland                               22.841904                       500.33
Portugal                             33.457898                       470.67
Slovak Republic                      27.348691                       482.00
Spain                                31.683347                       476.33
Sweden                               15.746422                       504.00
Switzerland                                NaN                       513.67
Turkey                                     NaN                       431.67
United Kingdom                       29.069052                       501.67
United States                        25.400000                       481.50

                 Literacy.inequality  Youth.NEET.rate  Low.birth.weight  \
Australia                   1.610349              7.4               6.4
Austria                     1.716942              6.9               6.8
Belgium                     1.740258              6.2               7.8
Canada                      1.573912              6.1               5.9
Czech Republic              1.743012              5.3               6.7
Denmark                     1.594974              4.3               4.9
Finland                     1.475432              5.2               4.1
France                      1.728004              6.2               6.8
Germany                     1.719702              4.4               6.8
Greece                      1.722499              9.8               8.8
Hungary                     1.620710              6.4               8.2
Iceland                     1.654064              NaN               3.9
Ireland                     1.590217              4.4               4.9
Italy                       1.752955             11.2               6.7
Japan                       1.652194              8.4               9.5
Korea                       1.545777              NaN               4.3
Luxembourg                  1.701361              2.2               4.9
Mexico                      1.755798              NaN               8.8
Netherlands                 1.614444              3.9               6.2
New Zealand                 1.676001              8.5               6.1
Norway                      1.692809              2.5               4.8
Poland                      1.632217              1.7               6.1
Portugal                    1.689477              8.4               7.5
Slovak Republic             1.712179              6.3               7.2
Spain                       1.636259              8.5               7.1
Sweden                      1.630063              4.7               4.2
Switzerland                 1.650385              7.2               7.0
Turkey                      1.704249             37.7              11.3
United Kingdom              1.690351              9.3               7.5
United States               1.725965              6.1               8.1

                 Infant.mortality  ...  Vaccination.rates..pertussis.  \
Australia                     5.0  ...                           92.2
Austria                       4.2  ...                           83.0
Belgium                       3.7  ...                           97.0
Canada                        5.3  ...                           78.0
Czech Republic                3.4  ...                           98.7
Denmark                       4.4  ...                           95.0
Finland                       3.0  ...                           97.0
France                        3.6  ...                           98.0
Germany                       3.9  ...                           97.8
Greece                        3.8  ...                           88.0
Hungary                       6.2  ...                           99.8
Iceland                       2.3  ...                           97.0
Ireland                       4.0  ...                           90.0
Italy                         4.7  ...                           94.7
Japan                         2.8  ...                           93.0
Korea                         5.3  ...                           97.0
Luxembourg                    2.6  ...                            NaN
Mexico                       18.8  ...                           98.1
Netherlands                   4.9  ...                           95.8
New Zealand                   5.1  ...                           88.6
Norway                        3.1  ...                           91.0
Poland                        6.4  ...                           99.0
Portugal                      3.5  ...                           93.3
Slovak Republic               7.2  ...                           99.2
Spain                         4.1  ...                           96.2
Sweden                        2.4  ...                           99.0
Switzerland                   4.2  ...                           96.0
Turkey                       23.6  ...                           90.0
United Kingdom                5.1  ...                           91.4
United States                 6.8  ...                           85.7

                 Vaccination.rates.measles.  Physical.activity  \
Australia                              94.0                NaN
Austria                                74.0               19.6
Belgium                                88.0               19.1
Canada                                 94.0               23.6
Czech Republic                         96.6               22.0
Denmark                                96.0               22.7
Finland                                97.0               24.8
France                                 87.1               13.5
Germany                                94.0               17.0
Greece                                 88.0               15.5
Hungary                                99.8               19.5
Iceland                                94.0               20.6
Ireland                                84.0               31.1
Italy                                  87.3               15.1
Japan                                  94.0                NaN
Korea                                  90.2                NaN
Luxembourg                              NaN               15.2
Mexico                                 96.4               18.1
Netherlands                            96.3               21.2
New Zealand                            82.0                NaN
Norway                                 88.0               15.6
Poland                                 97.0               17.3
Portugal                               92.7               14.6
Slovak Republic                        99.5               42.1
Spain                                  96.8               20.3
Sweden                                 95.0               16.4
Switzerland                            86.0               13.1
Turkey                                 91.0               20.0
United Kingdom                         83.8               18.7
United States                          91.5               26.8

                 Mortality.rates  Suicide.rates  Smoking  Drunkenness  \
Australia                  23.66       8.512646      NaN          NaN
Austria                    24.57       9.482761     27.1         18.6
Belgium                    28.97       8.977713     16.7         13.9
Canada                     23.43      10.047535      8.6         18.8
Czech Republic             24.92       6.212492     21.5         16.8
Denmark                    22.93       5.942231     15.0         24.8
Finland                    23.54      12.158687     22.0         22.4
France                     21.04       4.906704     19.0         11.2
Germany                    21.23       5.507378     19.5         15.1
Greece                     23.15       1.263026     16.5         10.3
Hungary                    25.75       6.806580     21.5         17.7
Iceland                    16.95       7.841312     13.5         10.5
Ireland                    21.97       9.517063     19.5         16.3
Italy                      21.76       2.437998     20.0         10.0
Japan                      18.23       7.728493      NaN          NaN
Korea                      22.36       6.784772      NaN          NaN
Luxembourg                 14.84       6.357194     19.0         11.7
Mexico                     50.23       5.128754      NaN          NaN
Netherlands                20.49       3.496134     18.5         12.1
New Zealand                32.05      15.949567      NaN          NaN
Norway                     21.49      10.094030     10.4         14.0
Poland                     28.13       8.863713     16.4         19.9
Portugal                   34.60       2.430484     10.6         10.9
Slovak Republic            30.15       5.036520     16.4         16.8
Spain                      23.49       2.599717     17.1         16.1
Sweden                     19.27       6.783234      8.5         13.8
Switzerland                20.33       7.280508     15.0         11.4
Turkey                       NaN            NaN      NaN          NaN
United Kingdom             21.17       2.987869     15.9         22.1
United States              32.67       7.696773      8.1         10.2

                 Teenage.births  Bullying  Liking.school
Australia                  14.3       NaN            NaN
Austria                    12.3      15.6           38.1
Belgium                     7.8      12.2           21.6
Canada                     13.2      14.0           29.5
Czech Republic             11.4       5.5           11.7
Denmark                     6.6       8.0           25.6
Finland                     9.7       8.0           16.1
France                      6.7      13.6           21.4
Germany                     9.8      13.9           34.9
Greece                      8.7      22.0           25.6
Hungary                    20.7       6.6           27.6
Iceland                    16.9       5.4           36.6
Ireland                    13.5       8.6           24.0
Italy                       6.8       7.9           12.8
Japan                       3.7       NaN            NaN
Korea                       3.7       NaN            NaN
Luxembourg                  8.6      13.8           20.7
Mexico                     65.8       NaN            NaN
Netherlands                 4.7       8.5           39.7
New Zealand                23.4       NaN            NaN
Norway                      9.4       8.3           41.7
Poland                     14.5       9.6           21.1
Portugal                   18.1      14.1           22.8
Slovak Republic            20.0       NaN           13.0
Spain                       9.1       4.7           23.9
Sweden                      6.8       4.2           24.1
Switzerland                 4.5      12.1           27.3
Turkey                     39.7      25.3           57.4
United Kingdom             24.8       9.7           35.7
United States              49.8      11.9           26.4

[30 rows x 21 columns]>

---
### b) Überprüfen Sie mit dem Attribut .shape die Dimension der Daten.

In [2]:
data.shape

(30, 21)

30 Zeilen & 21 Spalten

---
### c) Bestimmen Sie den Mittelwert und Median der einzelnen Variablen mit dem Python-Attribut .describe().

In [5]:
data.describe()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
count,30.000000,30.000000,30.000000,26.000000,24.000000,30.000000,30.000000,27.000000,30.000000,30.000000,...,29.000000,29.000000,26.000000,29.000000,29.000000,24.000000,24.000000,30.000000,24.000000,25.00000
mean,18.847713,12.372193,2.673333,31.950163,25.217498,496.317000,1.665085,7.377778,6.643333,5.446667,...,93.775862,91.517241,20.134615,24.598966,6.856272,16.512500,15.225000,15.500000,10.979167,27.17200
std,7.597219,5.592696,3.315370,21.132363,7.483096,29.381643,0.067391,6.489656,1.728001,4.506756,...,5.317334,5.909138,6.157983,6.745815,3.204545,4.766852,4.301794,13.967326,5.146462,10.39926
min,3.839462,2.740000,0.400000,10.326503,10.500000,408.670000,1.475432,1.700000,3.900000,2.300000,...,78.000000,74.000000,13.100000,14.840000,1.263026,8.100000,10.000000,3.700000,4.200000,11.70000
25%,16.617877,8.901475,1.000000,17.058130,20.153506,482.750000,1.623048,4.550000,5.150000,3.525000,...,91.000000,88.000000,15.800000,21.170000,5.036520,14.625000,11.350000,7.050000,7.975000,21.40000
50%,21.107187,11.659053,1.500000,21.574977,25.487116,501.335000,1.682739,6.200000,6.750000,4.200000,...,95.800000,94.000000,19.300000,23.150000,6.784772,16.600000,14.550000,10.600000,9.650000,25.60000
75%,22.642722,16.091953,2.200000,44.392351,30.236732,512.835000,1.719012,8.400000,7.500000,5.250000,...,97.800000,96.300000,21.800000,25.750000,8.863713,19.500000,17.925000,17.800000,13.825000,34.90000
max,34.241822,24.590000,13.700000,73.957667,38.712874,552.670000,1.755798,37.700000,11.300000,23.600000,...,99.800000,99.800000,42.100000,50.230000,15.949567,27.100000,24.800000,65.800000,25.300000,57.40000

---
### d) Überprüfen Sie, ob die Niederlande in der Länderliste des Datensatzes auftaucht. Gibt es auch einen Eintrag für China? Die Zeilenamen ermitteln Sie mit dem Attribut .index. Wie erhalten Sie die Spaltennamen?

In [7]:
data.index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'],
      dtype='object')

In [12]:
data.index[18]

'Netherlands'

In [13]:
data.columns

Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

In [16]:
"China","China" in data.index

('China', False)

In [17]:
"Netherlands","Netherlands" in data.index

('Netherlands', True)

---
### e) In welchen fünf Ländern waren die meisten Jugendlichen mindestens zweimal betrunken? Wie hoch ist der maximale Prozentsatz Benützen Sie die Methode: .sort_values(by=..., ascending=...).

In [22]:
data.sort_values(by="Drunkenness", ascending=False)

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Denmark,23.175894,2.740000,0.7,17.552965,20.151467,501.00,1.594974,4.3,4.9,4.4,...,95.0,96.0,22.7,22.93,5.942231,15.0,24.8,6.6,8.0,25.6
Finland,22.027651,4.170000,1.0,15.228876,22.802362,552.67,1.475432,5.2,4.1,3.0,...,97.0,97.0,24.8,23.54,12.158687,22.0,22.4,9.7,8.0,16.1
United Kingdom,22.697062,10.080000,1.8,21.497427,29.069052,501.67,1.690351,9.3,7.5,5.1,...,91.4,83.8,18.7,21.17,2.987869,15.9,22.1,24.8,9.7,35.7
Poland,7.939399,21.500000,2.1,73.957667,22.841904,500.33,1.632217,1.7,6.1,6.4,...,99.0,97.0,17.3,28.13,8.863713,16.4,19.9,14.5,9.6,21.1
Canada,25.606245,15.057585,2.1,NaN,NaN,529.33,1.573912,6.1,5.9,5.3,...,78.0,94.0,23.6,23.43,10.047535,8.6,18.8,13.2,14.0,29.5
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Hungary,9.463130,8.724203,2.1,73.306021,22.213785,492.33,1.620710,6.4,8.2,6.2,...,99.8,99.8,19.5,25.75,6.806580,21.5,17.7,20.7,6.6,27.6
Czech Republic,10.849270,10.270000,1.2,58.899347,29.748594,502.00,1.743012,5.3,6.7,3.4,...,98.7,96.6,22.0,24.92,6.212492,21.5,16.8,11.4,5.5,11.7
Slovak Republic,7.797596,10.930000,3.8,68.356284,27.348691,482.00,1.712179,6.3,7.2,7.2,...,99.2,99.5,42.1,30.15,5.036520,16.4,16.8,20.0,NaN,13.0
Ireland,22.364689,16.299416,2.9,16.429028,19.300100,508.67,1.590217,4.4,4.9,4.0,...,90.0,84.0,31.1,21.97,9.517063,19.5,16.3,13.5,8.6,24.0
Spain,16.430249,17.300000,0.9,10.831831,31.683347,476.33,1.636259,8.5,7.1,4.1,...,96.2,96.8,20.3,23.49,2.599717,17.1,16.1,9.1,4.7,23.9
Germany,19.894067,16.289270,0.5,19.967763,37.374708,505.00,1.719702,4.4,6.8,3.9,...,97.8,94.0,17.0,21.23,5.507378,19.5,15.1,9.8,13.9,34.9
Norway,28.574371,4.600000,1.3,15.113671,11.992789,487.00,1.692809,2.5,4.8,3.1,...,91.0,88.0,15.6,21.49,10.094030,10.4,14.0,9.4,8.3,41.7
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
Sweden,19.916998,3.969106,1.6,20.011460,15.746422,504.00,1.630063,4.7,4.2,2.4,...,99.0,95.0,16.4,19.27,6.783234,8.5,13.8,6.8,4.2,24.1
Netherlands,25.041012,11.526755,0.6,10.326503,38.712874,521.00,1.614444,3.9,6.2,4.9,...,95.8,96.3,21.2,20.49,3.496134,18.5,12.1,4.7,8.5,39.7
Luxembourg,34.241822,12.390000,1.1,16.893185,25.574231,485.00,1.701361,2.2,4.9,2.6,...,NaN,NaN,15.2,14.84,6.357194,19.0,11.7,8.6,13.8,20.7
Switzerland,24.651815,9.433293,0.7,NaN,NaN,513.67,1.650385,7.2,7.0,4.2,...,96.0,86.0,13.1,20.33,7.280508,15.0,11.4,4.5,12.1,27.3
France,18.960382,7.640000,1.2,20.284619,25.830298,493.00,1.728004,6.2,6.8,3.6,...,98.0,87.1,13.5,21.04,4.906704,19.0,11.2,6.7,13.6,21.4
Portugal,3.839462,16.550398,1.4,31.952303,33.457898,470.67,1.689477,8.4,7.5,3.5,...,93.3,92.7,14.6,34.60,2.430484,10.6,10.9,18.1,14.1,22.8
Iceland,22.286852,8.250000,0.4,21.652526,15.534688,493.67,1.654064,NaN,3.9,2.3,...,97.0,94.0,20.6,16.95,7.841312,13.5,10.5,16.9,5.4,36.6
Greece,17.183647,13.230296,6.1,54.922056,25.070654,464.00,1.722499,9.8,8.8,3.8,...,88.0,88.0,15.5,23.15,1.263026,16.5,10.3,8.7,22.0,25.6
United States,29.196531,20.593932,4.8,26.200000,25.400000,481.50,1.725965,6.1,8.1,6.8,...,85.7,91.5,26.8,32.67,7.696773,8.1,10.2,49.8,11.9,26.4
Italy,17.180761,15.500000,1.2,47.851602,32.577363,468.67,1.752955,11.2,6.7,4.7,...,94.7,87.3,15.1,21.76,2.437998,20.0,10.0,6.8,7.9,12.8
Australia,20.813221,11.791352,2.2,19.700000,10.500000,520.00,1.610349,7.4,6.4,5.0,...,92.2,94.0,NaN,23.66,8.512646,NaN,NaN,14.3,NaN,NaN
Japan,22.479705,13.688033,5.6,22.540000,32.380000,517.33,1.652194,8.4,9.5,2.8,...,93.0,94.0,NaN,18.23,7.728493,NaN,NaN,3.7,NaN,NaN
Korea,21.651918,10.746834,1.8,NaN,NaN,541.67,1.545777,NaN,4.3,5.3,...,97.0,90.2,NaN,22.36,6.784772,NaN,NaN,3.7,NaN,NaN
Mexico,5.335074,22.164514,13.7,69.600000,NaN,408.67,1.755798,NaN,8.8,18.8,...,98.1,96.4,18.1,50.23,5.128754,NaN,NaN,65.8,NaN,NaN
New Zealand,17.197108,15.000000,2.2,31.000000,NaN,524.33,1.676001,8.5,6.1,5.1,...,88.6,82.0,NaN,32.05,15.949567,NaN,NaN,23.4,NaN,NaN
Turkey,5.071860,24.590000,13.6,NaN,NaN,431.67,1.704249,37.7,11.3,23.6,...,90.0,91.0,20.0,NaN,NaN,NaN,NaN,39.7,25.3,57.4

In [27]:
print(data.nlargest(5, "Drunkenness")["Drunkenness"])

Denmark           24.8
Finland           22.4
United Kingdom    22.1
Poland            19.9
Canada            18.8
Name: Drunkenness, dtype: float64

In [18]:
drunk = data.sort_values(by="Drunkenness", ascending=False)
drunk["Drunkenness"].head()

Denmark           24.8
Finland           22.4
United Kingdom    22.1
Poland            19.9
Canada            18.8
Name: Drunkenness, dtype: float64

---
### f) In welchem Land ist die Säuglingssterblichkeit am geringsten? Wie hoch ist sie in diesem Land? Benützen Sie die Methode .nsmallest(...).

In [29]:
data.nsmallest(1, "Infant.mortality")["Infant.mortality"]

Iceland    2.3
Name: Infant.mortality, dtype: float64

In [19]:
infant = data.nsmallest(n=1, columns="Infant.mortality")
infant.index

Index(['Iceland'], dtype='object')

---
### g) In welchen Ländern ist der Prozentsatz an Jugendlichen, die sich regelmässig bewegen, kleiner als der Durchschnitt? Benützen Sie das Attribut .loc[... < ..., :]

In [36]:
a = data.mean(axis=0)["Physical.activity"]
print(a)

20.13461538461539

In [20]:
data["Physical.activity"].mean()

20.13461538461539

In [60]:
data.loc[data["Physical.activity"] < a]["Physical.activity"].sort_values()

Switzerland       13.1
France            13.5
Portugal          14.6
Italy             15.1
Luxembourg        15.2
Greece            15.5
Norway            15.6
Sweden            16.4
Germany           17.0
Poland            17.3
Mexico            18.1
United Kingdom    18.7
Belgium           19.1
Hungary           19.5
Austria           19.6
Turkey            20.0
Name: Physical.activity, dtype: float64

In [21]:
mean_phys = data["Physical.activity"].mean()
data.loc[data["Physical.activity"] < mean_phys,:].index

Index(['Austria', 'Belgium', 'France', 'Germany', 'Greece', 'Hungary', 'Italy',
       'Luxembourg', 'Mexico', 'Norway', 'Poland', 'Portugal', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom'],
      dtype='object')

***

# Aufgabe 1.2

### a) Lesen Sie die auf Ilias abgelegte Datei d.fuel.dat ein mit dem folgenden Pandas-Befehl:

In [2]:
import pandas as pd
from pandas import DataFrame, Series

fuel = pd.read_csv("files/sw01/d.fuel.dat", sep=",", index_col=0)

In [3]:
fuel.columns

Index(['weight', 'mpg', 'type'], dtype='object')

In [4]:
fuel

    weight  mpg     type
X
1     2560   33    Small
2     2345   33    Small
3     1845   37    Small
4     2260   32    Small
5     2440   32    Small
6     2285   26    Small
7     2275   33    Small
8     2350   28    Small
9     2295   25    Small
10    1900   34    Small
11    2390   29    Small
12    2075   35    Small
13    2330   26    Small
14    3320   20   Sporty
15    2885   27   Sporty
16    3310   19   Sporty
17    2695   30   Sporty
18    2170   33   Sporty
19    2710   27   Sporty
20    2775   24   Sporty
21    2840   26   Sporty
22    2485   28   Sporty
23    2670   27  Compact
24    2640   23  Compact
25    2655   26  Compact
26    3065   25  Compact
27    2750   24  Compact
28    2920   26  Compact
29    2780   24  Compact
30    2745   25  Compact
31    3110   21  Compact
32    2920   21  Compact
33    2645   23  Compact
34    2575   24  Compact
35    2935   23  Compact
36    2920   27  Compact
37    2985   23  Compact
38    3265   20   Medium
39    2880   21   Medium
40    2975   22   Medium
41    3450   22   Medium
42    3145   22   Medium
43    3190   22   Medium
44    3610   23   Medium
45    2885   23   Medium
46    3480   21   Medium
47    3200   22   Medium
48    2765   21   Medium
49    3220   21   Medium
50    3480   23   Medium
51    3325   23    Large
52    3855   18    Large
53    3850   20    Large
54    3195   18      Van
55    3735   18      Van
56    3665   18      Van
57    3735   19      Van
58    3415   20      Van
59    3185   20      Van
60    3690   19      Van

### b) Wählen Sie nur die fünfte Zeile des Dataframe d.fuel aus. Welche Werte stehen in der fünften Zeile? Verwenden Sie das Attribut .loc (siehe Aufgabe 1)).

In [5]:
fuel.loc[5,:]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

### c) Wählen Sie nun die erste bis fünfte Beobachtung des Datensatzes aus. So lässt sich übrigens bei einem unbekannten Datensatz ein schneller Überblick über die Art des Dataframe gewinnen.

In [9]:
fuel.loc[1:5,:]

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

### d) Berechnen Sie den Mittelwert der Reichweiten aller Autos in Miles/Gallon. Python -Hinweis: Methode .mean()

In [10]:
fuel.mean()['mpg']

24.583333333333332

### e) Berechnen Sie den Mittelwert der Reichweite der Autos 7 bis 22.

### f) Erzeugen Sie einen neuen Vektor t_kml, der alle Reichweiten in km/l, und einen Vektor t_kg, der alle Gewichte in kg enthält.

### g) Berechnen Sie den Mittelwert der Reichweiten in km/l und denjenigen der Fahrzeuggewichte in kg.